<h1><b><center>Vaccine Stock Analysis during the COVID-19 Pandemic</center></b></h1>

In [28]:
import numpy as np
import pandas as pd

from functools import reduce

<h3>Covid Dataset</h3>

In [29]:
df = pd.read_csv("us_covid19_cases.csv")

In [30]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [31]:
covid_df = df[['date', 'new_cases', 'new_deaths', 'new_tests', 'new_vaccinations']].dropna()

In [32]:
covid_df.head()

           date  new_cases  new_deaths  new_tests  new_vaccinations
327  12/14/2020   209832.0      1656.0  1495007.0            4606.0
328  12/15/2020   226317.0      2977.0  1946570.0           48023.0
329  12/16/2020   234805.0      3726.0  2078071.0          159392.0
330  12/17/2020   240248.0      3448.0  2053369.0          272612.0
331  12/18/2020   247945.0      2936.0  2022827.0          416548.0

In [33]:
covid_df.dtypes

date                 object
new_cases           float64
new_deaths          float64
new_tests           float64
new_vaccinations    float64
dtype: object

<h3>Stock Datasts</h3>

In [34]:
df2 = pd.read_csv("moderna.csv")
moderna_df = df2[['date', 'close', 'volume', 'rsi']]

df3 = pd.read_csv("jnj.csv")
jnj_df = df3[['date', 'close', 'volume', 'rsi']]

df4 = pd.read_csv("astra-zeneca.csv")
astra_zeneca_df = df4[['date', 'close', 'volume', 'rsi']]

df5 = pd.read_csv("biontech.csv")
biontech_df = df5[['date', 'close', 'volume', 'rsi']]

df6 = pd.read_csv("novavax.csv")
novavax_df = df6[['date', 'close', 'volume', 'rsi']]

df7 = pd.read_csv("pfizer.csv")
pfizer_df = df7[['date', 'close', 'volume', 'rsi']]

<h3>Merge Datasets</h3>

In [35]:
stock_df = [moderna_df, jnj_df, astra_zeneca_df, biontech_df, novavax_df, pfizer_df]

stock_merged = reduce(lambda left, right: pd.merge(left, right, on=['date'], how='outer'), stock_df)

stock_merged.columns = ['date', 'moderna_closing_price', 'moderna_volume', 'moderna_rsi', 'jnj_closing_price', 'jnj_volume', 'jnj_rsi', 'astra_zeneca_closing_price', 'astra_zeneca_volume', 'astra_zeneca_rsi', 'biontech_closing_price', 'biontech_volume', 'biontech_rsi', 'novavax_closing_price', 'novavax_volume', 'novavax_rsi', 'pfizer_closing_price', 'pfizer_volume', 'pfizer_rsi']

In [36]:
stock_merged.head()

,date,moderna_closing_price,moderna_volume,moderna_rsi,jnj_closing_price,jnj_volume,jnj_rsi,astra_zeneca_closing_price,astra_zeneca_volume,astra_zeneca_rsi,biontech_closing_price,biontech_volume,biontech_rsi,novavax_closing_price,novavax_volume,novavax_rsi,pfizer_closing_price,pfizer_volume,pfizer_rsi
0,2022-04-08,160.84,5454415.0,45.310068,182.12,7144703.0,58.007217,71.14,9082865.0,62.388493,170.26,886206.0,47.024802,60.63,3603222.0,41.168775,55.17,23128622.0,55.231783
1,2022-04-07,159.00,5720873.0,45.059303,181.76,7385291.0,57.800809,71.01,8310168.0,62.271561,169.11,1505572.0,46.875633,59.50,4367650.0,40.924147,55.16,36292543.0,55.220421
2,2022-04-06,154.62,7401800.0,44.465273,182.23,9991790.0,58.166612,69.07,5596805.0,60.474451,166.65,2275843.0,46.560180,62.44,5162016.0,41.362681,52.87,31718155.0,52.515858
3,2022-04-05,162.05,6641095.0,45.279139,177.61,7279617.0,55.450641,67.05,6953316.0,58.455160,180.82,1878969.0,48.174997,65.23,6661778.0,41.779037,51.24,21027857.0,50.427343
4,2022-04-04,172.54,5908675.0,46.455614,176.47,6595724.0,54.740074,66.67,3987163.0,58.060152,186.24,2350714.0,48.809551,75.29,2642969.0,43.319900,50.94,20491602.0,50.030928

In [37]:
stock_merged.dtypes

date                           object
moderna_closing_price         float64
moderna_volume                float64
moderna_rsi                   float64
jnj_closing_price             float64
jnj_volume                    float64
jnj_rsi                       float64
astra_zeneca_closing_price    float64
astra_zeneca_volume           float64
astra_zeneca_rsi              float64
biontech_closing_price        float64
biontech_volume               float64
biontech_rsi                  float64
novavax_closing_price         float64
novavax_volume                float64
novavax_rsi                   float64
pfizer_closing_price          float64
pfizer_volume                 float64
pfizer_rsi                    float64
dtype: object

In [38]:
covid_df['date'] = pd.to_datetime(covid_df['date'])
stock_merged['date'] = pd.to_datetime(stock_merged['date'])
covid_df['new_vaccinations'] = covid_df['new_vaccinations'].fillna(0) # The NaN value in this column cannot be simply dropped since we also need to analyze the data before the vaccination process.
df_merged = pd.merge(covid_df, stock_merged, on='date').dropna()

In [39]:
float_cols = covid_df.columns[covid_df.dtypes.eq('float64')]
df_merged[float_cols] = df_merged[float_cols].apply(pd.to_numeric, errors='ignore').astype(int)

Index(['new_cases', 'new_deaths', 'new_tests', 'new_vaccinations'], dtype='object')

In [40]:
df_merged.head(10)

,date,new_cases,new_deaths,new_tests,new_vaccinations,moderna_closing_price,moderna_volume,moderna_rsi,jnj_closing_price,jnj_volume,...,astra_zeneca_rsi,biontech_closing_price,biontech_volume,biontech_rsi,novavax_closing_price,novavax_volume,novavax_rsi,pfizer_closing_price,pfizer_volume,pfizer_rsi
0,2020-12-14,209832,1656,1495007,4606,155.07,22467742.0,66.453628,149.070007,8547300.0,...,45.104496,108.269997,10907900.0,54.754129,129.699997,4690300.0,55.615390,39.209999,94809700.0,55.437718
1,2020-12-15,226317,2977,1946570,48023,147.22,36451258.0,63.925455,150.570007,7612600.0,...,46.192900,111.199997,5711800.0,55.391848,126.220001,2721700.0,54.854471,38.709999,65712800.0,54.424993
2,2020-12-16,234805,3726,2078071,159392,137.03,28476275.0,60.858631,149.669998,8486100.0,...,46.328628,105.779999,4802600.0,53.956363,120.879997,4096600.0,53.703972,37.840000,56515300.0,52.715195
3,2020-12-17,240248,3448,2053369,272612,144.00,32404457.0,62.126807,153.619995,9920300.0,...,46.162277,106.430000,3487800.0,54.101921,131.750000,5070800.0,55.636655,38.029999,52036400.0,53.043929
4,2020-12-18,247945,2936,2022827,416548,140.23,33157833.0,61.035348,154.509995,17137200.0,...,45.472040,104.239998,3108200.0,53.520235,124.849998,4237400.0,54.171836,37.680000,60259200.0,52.359688
5,2020-12-21,196861,1798,1529532,384222,138.30,23921047.0,60.480298,153.020004,7893400.0,...,44.846778,106.459999,2611000.0,54.031468,124.059998,2763300.0,54.005719,37.380001,40891800.0,51.775536
6,2020-12-22,205932,3298,1988775,448446,125.88,36126942.0,57.072189,152.720001,4699500.0,...,43.746547,100.559998,5021000.0,52.466483,115.370003,6363600.0,52.208710,36.740002,33634400.0,50.547914
7,2020-12-23,221438,3382,2281090,574778,130.34,41905043.0,57.940648,151.940002,4607300.0,...,43.805779,100.059998,3414000.0,52.335398,127.650002,6681400.0,54.396768,37.439999,36182000.0,51.822803
8,2020-12-24,212948,2922,1892175,196792,123.39,12720588.0,56.134859,152.470001,2114900.0,...,43.513576,96.959999,1039100.0,51.521034,129.339996,3690600.0,54.688097,37.270000,14790100.0,51.493825
9,2020-12-28,173303,1872,1310126,593478,111.40,30712362.0,53.215229,153.190002,3855500.0,...,44.805920,88.110001,4698900.0,49.286893,116.849998,4840500.0,52.174493,36.820000,26993700.0,50.625749

In [41]:
df_merged.dtypes

date                          datetime64[ns]
new_cases                              int64
new_deaths                             int64
new_tests                              int64
new_vaccinations                       int64
moderna_closing_price                float64
moderna_volume                       float64
moderna_rsi                          float64
jnj_closing_price                    float64
jnj_volume                           float64
jnj_rsi                              float64
astra_zeneca_closing_price           float64
astra_zeneca_volume                  float64
astra_zeneca_rsi                     float64
biontech_closing_price               float64
biontech_volume                      float64
biontech_rsi                         float64
novavax_closing_price                float64
novavax_volume                       float64
novavax_rsi                          float64
pfizer_closing_price                 float64
pfizer_volume                        float64
pfizer_rsi                           float64
dtype: object

<h2>Data Analysis</h2>

<h3>Q1: How did each pharmaceutical stock perform during the pandemic, and is there a trend between performance and COVID-19 cases?</h3>

<h3>Q2: Is there a positive or negative relationship between COVID-19 cases and pharmaceutical stock prices of the aforementioned companies? Could a rise in COVID-19 cases be used as a factor to predict a rise in pharmaceutical stock prices?
</h3>

<h3>Q3: Assuming there is a pattern/relationship, what are the nuances that explain any breaks from the pattern between COVID-19 cases and stock prices? 
</h3>